<!--
  <Instruct-2.html>

  @2020-05-24
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-1</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <div class="well">
                    <p id="toptext" style="color:black;">
                            Congratulations! You have finished the instructions. The experiment is going to start. <br>
                            During the experiment, for some trials you might not be sure about your judgement, just follow your gut feelings.<br>
                            Click "Continue" to start the experiment, you will need to complete 114 trials. 
                    </p>
                <div class="well">
                



                <!--moviescreen-->    
                <tr><td><br/></td></tr>

                <table id="moviescreen">
                    <tr>
                        <td>
                            <br>
<!--                             <button type="button" id="continue_button" class="btn btn-primary btn-lg continue"> Continue </button> -->
                            <button type="button" id="nextbutton" class="incenterdiv btn btn-success btn-lg">
                                Next 
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->             
            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
        