<!--
  <Instruct-2.html>

  @2020-05-24
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-1</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <div class="well">
                    <p id="toptext" style="color:black;">
                            Your task in this experiment is to judge stiffness (or softness) of cloth. <br> Stiffness describes the firmness and hardness of the cloth, and how easily the cloth forms wrinkles. <br> Stiff cloth such as leather tends to make less wrinkles. <br> Soft cloth such as silk tends make more wrinkles.

                    </p>
                </div>
                

                <!--moviescreen-->    
                <tr><td><br/></td></tr>

               <!--  <table id="moviescreen" border="5" bordercolor="red" align="center"> -->
                <table id="moviescreen" align="center">
                    <tr>
                        <th colspan="2"></th> 
                    </tr>
                    
                    <tr>
                        <th style="text-align:center">Leather is Stiff</th>
                        <th style="text-align:center">Silk is Soft</th>
                    </tr>

                    <tr>
                        <td style="width:300pt"> 
                            <img class="square"  src="/static/data/imgs/leather.png" alt="leather" style="float:center; width:98%">
                            </img> </th><!--Left video-->

                        <td style="width:300pt"> 
                            <img class="square" src="/static/data/imgs/silk.png" alt="leather" style="float:center; width:98%">
                            </img> </th><!--Left video-->
                    </tr>
                </table>


                 <table id="moviescreen" align="center">
                    <tr>
                        <th colspan="1"></th> 
                    </tr>

                    <tr>
                        <td>
                            <br>
<!--                             <button type="button" id="continue_button" class="btn btn-primary btn-lg continue"> Continue </button> -->
                            <button type="button" id="nextbutton" class="incenterdiv btn btn-success btn-lg">
                                Next 
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </th>
                    </tr>
                </table> <!--END moviescreen-->      

                
            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
        