<!--
  <Instruct-2.html>

  @2020-05-24
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-2</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <p id="toptext" style="color:black; font-family: 'Lato', sans-serif; font-size: 15pt">
                        In the real world, cloth has unique textures that can reveal the materials that they are made of and thus how heavy they might be. <br> But in this experiment, you will not see variations of textures of the cloth - the cloth will have the same red color texture. Instead, you will see cloths in motion, which can reveal how heavy they might be.<br>
                </p>
                

                <!--moviescreen-->    
                <tr><td><br/></td></tr>
                <table id="moviescreen">
                    <tr>
                        <td> 
                            <img src="/static/data/imgs/texture1.png" alt="leather" style="float:center; width:30%">

                            <img src="/static/data/imgs/texture2.png" alt="silk" style="float:center; width:30%">
                        </td> 
                    </tr>

                    <tr>
                        <td>
                            <br>
                            <button type="button" id="continue_button" class="btn btn-primary btn-lg continue"> Continue </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->             
            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
        