<!--
  <Instruct-2.html>

  @2020-05-24
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-2</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <p id="toptext" style="color:black; font-family: 'Lato', sans-serif; font-size: 15pt">
                    Throughout this experiment, you will see the cloth interacting with different types of external forces across 4 different scenarios, referred to as "Drape", "Rotate", "Wind", and "Box" scenarios. <br>
                    You should judge cloth mass independently of the variations in the scene. 
                    <br>Below you can see the snapshots of the 4 different scenarios.



                    
                </p>
                

                <!--moviescreen-->  
                <table id="moviescreen">
                    <tr>
                        <td> 
                            <img src="/static/data/imgs/drape.png" alt="leather" style="float:center; width:24.93%">

                            <img src="/static/data/imgs/rotate.png" alt="silk" style="float:center; width:24.93%">
                        </td> 
                    </tr>
                    <tr><td><br/></td></tr>
                    <tr>
                        <td> 
                            <img src="/static/data/imgs/wind.png" alt="leather" style="float:center; width:24.93%">

                            <img src="/static/data/imgs/box.png" alt="silk" style="float:center; width:24.93%">
                        </td> 
                    </tr>

                    <tr>
                        <td>
                            <br>
                            <button type="button" id="continue_button" class="btn btn-primary btn-lg continue"> Continue </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->             
            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
