<!--
  <Instruct-2.html>

  @2020-05-24
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache" />
        <title>Instruct-1</title>
    </head>
    <body>
        <!--container-instructions-->
        <div id="container-instructions">
            <h1 id="instr_header"> Instructions </h1>
            <div class="instructions" id="instruct">
                <p id="toptext" style="color:black; font-family: 'Lato', sans-serif; font-size: 15pt">
                        Congratulations! You have finished the instructions. The experiment is going to start. <br>
                        During the experiment, for some trials you might not be sure about your judgement, just follow your gut feelings.<br>
                        Click "Continue" to start the experiment, you will need to complete 114 trials. 
                </p>
                



                <!--moviescreen-->    
                <tr><td><br/></td></tr>

                <table id="moviescreen">
                    <tr>
                        <td>
                            <br>
                            <button type="button" id="continue_button" class="btn btn-primary btn-lg continue"> Continue </button>
                        </td>
                    </tr>
                </table> <!--END moviescreen-->             
            </div> <!--END container-instructions-->
        </div>
    </body>
</html>
        